<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .h2-text {
            color: red
        }
    </style>
</head>
<body>
<div>
    <h1 id="h1-text">H1 text</h1>
    <h2 class="h2-text">H2 text</h2>
    <h6 class="h2-text">H6 text</h6>
    <p>Text Item Like <span style="color: green">Good</span> Boss</p>
    <a href="https://stepik.org/lesson/1452311/step/1?unit=1471322" target="_blank">Python</a>
    <img alt="browsers.png" src="https://stepik.org/static/frontend/feedback/5.svg" style="width: 150px">
    <ul>
        <li>Item 1</li>
        <li>Item 2</li>
        <li>Item 3</li>
    </ul>
    <ol>
       <li>Item 1</li>
        <li>Item 2</li>
        <li>Item 3</li>
    </ol>
   <form action="/action" method="POST">
        <label>
        <input type="Text" value="12345" placeholder="Text">
    </label>
    <label>
        <input required placeholder="Email" type="email">
    </label>
    <label>
        <input placeholder="Password" type="Password">
    </label>
    <label>
        <textarea required placeholder="Text">12345</textarea>
    </label>
       <button type="submit" disabled>Text</button>
   </form>
    <table>
        <thead>
        <tr>
            <td>Item 1</td>
            <td>Item 2</td>
            <td>Item 3</td>
        </tr>
        </thead>
        <tbody>
             <tr>
            <td>Row 1</td>
            <td>Row 2</td>
            <td>Row 3</td>
        </tr>
         <tr>
            <td>Row 1</td>
            <td>Row 2</td>
            <td>Row 3</td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>